* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: "Papyrus", fantasy;
}
h3 {
    text-align: center;
    font-family: "helvetica", sans-serif;
}
label {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#start {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article {
    background-color: green;
    border: 5px solid black;
    margin: 20px;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    border: 5px solid black;
    background-color: rgb(10, 140, 235);
    margin: 20px;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    font-family: "helvetica", sans-serif;
    font-size: small;
}

div {
    border: 5px solid black;
    background-color: white;
    margin: 20px 20px 30px 20px;
    padding: 20px;
    height: 350px;
    width: 350px;
    border-radius: 10px;
}

.name {
    padding: 10px;
    font-family: "helvetica", sans-serif;
}

.age {
    padding: 10px;
    font-family: "helvetica", sans-serif;
}


#baby {
    display: none;
    border-radius: 10px;
    animation: 1s pulse;
}

#teen {
    display: none;
    border-radius: 10px;
    animation: 1s dealWithItNorm;
}

#adult {
    display: none;
    border-radius: 10px;
    animation: 1s shaker;
    margin: 30px 10px 0 0;
}

aside {
    border: 5px solid black;
    margin: 20px;
    padding: 20px;
    background-color:chartreuse;
    border-radius: 10px;
    width: 350px;
}

img {
    border: 5px solid black;
    margin: 20px;
    /* padding: 20px; */
    border-radius: 10px;
    position: relative;
    
}

.button:hover {
    cursor: pointer;
}

#game-over {
    animation: 1s fadeIn;
    border: 5px solid black;
    margin: 20px;
    /* padding: 20px; */
    border-radius: 10px;
    height: 325px;
    width: 325px;
    display: none;
    position: fixed;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
}

#munch {
    margin: 0 20px;
}

#nap {
    margin: 0 20px;
}

#rumpus {
    margin: 0 20px;
}

  /* Keyframes */

  /* Nap */
  @keyframes pulse {
    from {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    to {
      transform: scale(1);
    }
  
  }

  /* Munch */
  @keyframes dealWithItNorm {
  
    1% {

    }

    30% {
      transform: translate3d(0,0px,0) scale(1);
      opacity: 1;
    }

    40% {
      transform: rotate(10deg);
      opacity: 1;
    }

    50% {
      transform: rotate(-10deg);
    }

    60% {
      transform: rotate(10deg);
    }

    70% {
      transform: rotate(-10deg);
    }

    80% {
      transform: rotate(0deg);
    }


  }

  /* Rumpus */
  @keyframes shaker {
    from {
      transform: translate3d(0,0,0);
    }
  
    33% {
      transform: translate3d(-20px,10px,0);
    }
  
    66% {
      transform: translate3d(20px,0px,0);
    }
  
  
    to {
      transform: translate3d(0,0,0);
    }
  
  }

  /* Game Over */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  
  }